<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User's page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.email}"></span></strong> with roles: <span th:text="${user.getUserRole()}"></span>
    </a>
    <a class="nav-link text-secondary" th:href="@{/logout}"><h3>Logout</h3></a>
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row">
        <div class="col-sm-2 mt-2 px-0 mr-4">
            <nav class="d-none d-sm-block sidebar">
                <div class="bg-light text-dark">
                    <nav class="sidebar">
                        <ul class="nav nav-pills flex-column">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                                </li>
                            </div>
                            <li class="nav-item active">
                                <a class="nav-link active" th:href="@{/user}">User</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="col-sm bg-green">
            <h3 class="ml-3 mb-3 mt-3 font-bold">User information-page</h3>
            <div class="bg-light border border-3 border-black rounded-top rounded-3">
                <div class="h4 m-3 " id="home-tab" data-toggle="tab"
                     aria-controls="home" aria-selected="true">About user
                </div>
                <div class="bg-white border border-3 border-black ">
                    <div class="col mt-3">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th>User Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>E-mail</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td th:text="${user.id}">User Id</td>
                                <td th:text="${user.firstName}">First name</td>
                                <td th:text="${user.lastName}">Last name</td>
                                <td th:text="${user.age}">Age</td>
                                <td th:text="${user.email}">E-mail</td>
                                <td>
                                    <ul>
                                        <li th:each="role : ${user.getRoles()}" th:text="${role.getRoleName()}"></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>